table, td, th{
	border:1px solid rgb(104, 129, 117);
}

th{
	background-color:rgb(96, 134, 117);
	color:white;
}

table.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #637768;
	border-collapse: collapse;
}

table.hovertable th {
	background-color:rgb(57, 73, 59);
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #e8f7f0;
}

table.hovertable tr {
	background-color:#8b8b8b;
}

table.hovertable td {
	background-color:#73807a;
	text-align: center;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a3aca6;
}

div#header {
	background-color:#444;
	background: url("./imgs/banner3.jpg") no-repeat;
	background-size:100% 100%;
	padding: 60px;
	text-align: center;
	color:rgb(255, 246, 246);
	margin-bottom:1px;
}

div#footer {
	padding: 1px;
	text-align: center;
	
	color:white;
	background-color:rgb(35, 53, 35);
	margin-bottom:1px;
}

* {
	box-sizing: border-box;
  }
   
body {
font-family: Arial;
padding: 50px;
background: #f1f1f1;
}

/* 头部标题 */
.header {
padding: 30px;
text-align: center;
background: white;
}

.header h1 {
font-size: 50px;
}

/* 导航条 */
.topnav {
overflow: hidden;
background-color: rgb(35, 53, 35);
}

/* 导航条链接 */
.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* 链接颜色修改 */
.topnav a:hover {
background-color: rgb(67, 95, 70);
color: black;
}

/* 创建两列 */
/* Left column */
.leftcolumn {   
float: left;
width: 25%;
}

/* 右侧栏 */
.rightcolumn {
float: left;
width: 75%;
background-color: #f1f1f1;
padding-left: 20px;
}

/* 图像部分 */
.fakeimg {
background-color: rgb(85, 109, 103);
width: 100%;
padding: 10px;
border:1px solid rgb(201, 199, 199);
}

/* 文章卡片效果 */
.card {
background-color: white;
padding: 20px;
margin-top: 20px;
}

/* 列后面清除浮动 */
.row:after {
content: "";
display: table;
clear: both;
}

/* 底部 */
.footer {
padding: 20px;
text-align: center;
background: #ddd;
margin-top: 20px;
}

/* 响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 */
@media screen and (max-width: 800px) {
.leftcolumn, .rightcolumn {   
	width: 100%;
	padding: 0;
}
}

/* 响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局 */
@media screen and (max-width: 400px) {
.topnav a {
	float: none;
	width: 100%;
}
}